.container {
  h1 {
    color: white;
  }
  .bookmark {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.container a:last-child {
  display: block;
  margin: 1.5rem;
  margin-bottom: 0;
  color: white;
}