@import "../../styles//base";

.container {
  padding: 1rem;

  select {
    display: block;
    width: 40%;
  }
  input {
    margin-bottom: 1rem;
  }
  textarea {
    margin-bottom: 1rem;
  }
  label {
    text-align: left;
  }
  button {
    margin-top: 1rem;
  }

  .textarea-wrapper {
    display: flex;
    flex-direction: column;
  }
}
