
@mixin bookmarkBorder($leftSize, $rightSize, $bottomSize, $color) {
  border-bottom: $bottomSize solid transparent; 
  border-left: $leftSize solid $color; 
  border-right: $rightSize solid $color; 
}

*, *:before, *:after{ 
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
} 

.bookmark { 
  position: relative; 
  transform: rotate(0deg) skew(0deg); 
  -webkit-transform: rotate(0deg) skew(0deg); 

  &__small {
    height: 20px;
    width: 10px;
    @include bookmarkBorder(5px, 6px, 10px, red );
  }

  &__large {
    height: 70px; 
    width: 50px; 
    @include bookmarkBorder(25px, 25px, 25px, red); 
  }
}