
@mixin bookmarkBorder($leftSize, $rightSize, $bottomSize, $color) {
  border-left: $leftSize solid $color; 
  border-right: $rightSize solid $color; 
  border-bottom: $bottomSize solid transparent; 
}

*, *:before, *:after{ 
  box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
} 
.container {
  display: flex;
  justify-content: start;

  .bookmark{ 
    position: relative; 
    -webkit-transform: rotate(0deg) skew(0deg); 
    transform: rotate(0deg) skew(0deg); 


    &__small {
      height: 20px;
      width: 10px;
      @include bookmarkBorder(5px, 6px, 10px, red );
    }

    &__large {
      height: 70px; 
      width: 50px; 
      @include bookmarkBorder(25px, 25px, 25px, red); 
    }
  }
}