.button {
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: 600;
  height: 35px;
  justify-content: center;
  position: relative;
  outline: none;
  width: 100px; 
}

.primary {
  background-color: cadetblue;
  color: white;
}

.default {
  background-color: white;
  color: black;
}

.danger {
  background-color: #dc3545;
  color: white;
}
