@mixin flexContainer($direction, $justifyContent, $alignItems ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.input {
  &__field {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    border-radius: 0.4rem;

    &::placeholder {
      color: cadetblue;
    }


    &:focus {
      outline: none;
      box-shadow: 0.2rem 0.8rem 1.6rem black;
    }
  }
}