@use '../../styles/base';
@use '../../styles/variables' as *;

.navbar {
  align-items: center;
  align-self: flex-start;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: $navbar-height;
  justify-content: space-between;
  padding-right: 1rem;
  width: 100%;
  .brand {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 1rem;
    p {
      margin-left: 1rem;
    }
  }

}

