.spinner {
  animation: spin 1s ease infinite;
  border: 4px solid white;
  border-radius: 50%;
  border-left-color: #09f;
  height: 36px;
  margin: auto;
  margin-top: 1rem;
  width: 36px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}