@use './styles/variables' as *;
.app {
  background-color: cadetblue;
  height: 100vh;
  position: relative;
  text-align: center;

  .settings-modal {
    position: absolute;
    right: 0;
    top: $navbar-height;
  }
}

